@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');
@import url('https://fonts.googleapis.com/css?family=Rozha+One');


/* prevents text from being selected/highlighted */
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.logo {
  font-family: 'Playfair Display', serif;
  color: #ffd1e1;
  margin: 20px;
  font-weight: bold;
  position: fixed;
}

.menu, .mobile-menu-button {
  margin: 20px;
  right: 0;
  position: fixed;
  z-index: 2;
}

.menu-item {
  color: #a3a3a3;
  vertical-align: middle;
  display: inline;
  margin: 10px;
}

.menu-nav-item {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 18px;
}

.menu-nav-item:hover {
  color: #ffd1e1;
}

.fullscreen-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  z-index: 1;
}

.mobile-nav-group {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.mobile-nav-item {
  color: #8c8c8c;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.mobile-nav-item:hover {
  color: #000000;
}

.home-bg-wrap {
  overflow: hidden;
  position: relative;
}


.home-bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1123px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
}

.page-content {
  padding-top: 100px;
}

.info-top, .gallery-top {
  height: 80px;
}

.gallery-column {
  float: left;
  width: 40%;
  padding: 10px;
}

.gallery-column img {
  margin-top: 18px;
  width: 100%;
}

.gallery-row:after {
  content: "";
  display: table;
  clear: both;
}

.lightbox-background {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
  z-index: 3;
}

.lightbox-background img {
  position: relative;
  background: white;
  max-height: 90%;
  max-width: 90%;
  z-index: 4;
}

.lightbox-cancel-btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
}

.info-text {
  font-family: 'Rohza One', serif;
  font-weight: bold;
  color: #bfbfbf;
  margin-top: 20px;
  text-align: center;
}

.info-text a {
  color: #ffd1e1;
}

.info-text a:hover {
  color: #dac4ff;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .gallery-column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .gallery-column {
        width: 100%;
   }
}
