@import url('https://fonts.googleapis.com/css?family=Rozha+One');

/* prevents text from being selected/highlighted */
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.logo {
  font-family: 'Rohza One', serif;
  color: #bfbfbf;
  margin: 20px;
  font-weight: bold;
  position: fixed;
}

.menu {
  margin: 20px;
  right: 0;
  position: fixed;
}

.menu-item {
  color: #c1c1c1;
  vertical-align: middle;
  display: inline;
  margin: 10px;
}

.menu-nav-item {
  font-family: 'Rohza One', serif;
  font-weight: bold;
  font-size: 18px;
}

.logo:hover, .menu-nav-item:hover {
  color: #ffd1e1;
}

.home-bg-wrap {
  overflow: hidden;
  position: relative;
}


.home-bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1123px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.page-content {
  padding-top: 100px;
}

.info-top, .gallery-top {
  height: 80px;
}

.gallery-column {
  float: left;
  width: 40%;
  padding: 10px;
}

.gallery-column img {
  margin-top: 18px;
  width: 100%;
}

.gallery-row:after {
  content: "";
  display: table;
  clear: both;
}

.info-text {
  font-family: 'Rohza One', serif;
  font-weight: bold;
  color: #bfbfbf;
  margin-top: 20px;
  text-align: center;
}

a {
  color: #ffd1e1;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .gallery-column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .gallery-column {
        width: 100%;
   }
}
